doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dookies
    link(rel="icon", type="image/png", href="../img/dookiesLogo.png")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;1,200&family=Indie+Flower&display=swap", rel="stylesheet")

  body
    header.header.container
      .dropdownMenu
        button#dropdownBtn.background-center 
        nav.header-main-nav
          .menu-list
            a.menu-link(href="./pages/store.html", target="") Tienda
            a.menu-link(href="#", target="") Quienes somos
            a.menu-link(href="#", target="") Contacto

      .header-logo
        img(src="/img/dookiesLogo.png", alt="logo")

      .header-user-actions
        button.user-menuBtn#cartBtn.background-center
         

    .cart.displayHidden
      .cartInfo
        p No has agregado ningun producto al carrito

  
    block content

    footer.container
      .contacto-card
        h4 Teléfono
        h4 Quejas y reclamos:
        p 3196187314
            i.fa-brands.fa-whatsapp
        p 319187314

      .contacto-card
        h4 Email
        i.fa-regular.fa-envelope
        h5 dookiesstores@gmail.com

      .contacto-card
        h4 Sobre nosotros
        a(href="") Instagram
        a(href="") TikTok
        a(href="") Quienes somos h4 Contacto por WhatsApp:
   

    script(type="module", src="/scripts/app.js")
    
